<header class="header">
    <nav class="top-nav">
        <a href="#" class="nav-link">
            <img src="../../assets/img3.svg"> Emergencias +591-2-6224161
        </a>
        <a href="#" class="nav-link">
            <img src="../../assets/img4.svg"> segurosocialluniversitario{{"@"}}ssupotosi.com.bo
        </a>
        <a href="#" class="nav-link">
            <img src="../../assets/img5.svg"> Calle Calama N° 107
        </a>
    </nav>
</header>

<section class="main-section">
    <img src="../../assets/img6.png" class="logo">
    <h2>SEGURO SOCIAL UNIVERSITARIO POTOSÍ</h2>
    
    <aside class="side-section">
        <div class="widget">
            <img src="../../assets/img2.png" class="shield">
            
            <div class="widget-content">
                <img src="../../assets/img7.jpg" class="img-sound">
                <h3 class="widget-heading">
                    <img src="../../assets/img8.svg"> <span>Reservas</span>
                </h3>
            </div>
        </div>
        
        <div class="widget">
            <div class="widget-content">
                <img src="../../assets/img1.svg" class="widget-heading">
                <h3 class="widget-heading">Síguenos</h3>
            </div>
        </div>
    </aside>
</section>
<section>
    <div class="navigation">
        <ul class="navigation-list">
            <a href="" class="first-item">Inicio</a>
            <a href="" class="navigation-item">Institucional</a>
            <a href="" class="navigation-item">Servicios</a>
            <a href="" class="navigation-item">Personal de Salud</a>
            <a href="" class="navigation-item">Contrataciones</a>
            <a href="" class="navigation-item">Transparencia</a>
        </ul>
    </div>
</section>