
<div class="container">
    <div class="columna">
        <h2>ACERCA DE NOSOTROS</h2>
        <p>Dirección: Calama Nº. 107</p>
        <p>Teléfono: +591-2-6223227</p>
        <p>Informaciones - Fichaje: +591-2-6223597</p>
        <p>Emergencias - Clínica: +591-2-6224161</p>
        <p>segurosocialuniversitario&#64;ssupotosi.com.bo</p>
    </div>
    <div class="columnaser">
      <h2>SERVICIOS</h2>
      <div class="servicios-container">
          <div class="servicios-columna">
              <ul>
                  <li>Consulta Externa</li>
                  <li>Laboratorio Clínico</li>
                  <li>Imagenología</li>
                  <li>Enfermería</li>
                  <li>Farmacia</li>
              </ul>
          </div>
          <div class="servicios-columna">
              <ul>
                  <li>Fisioterapia</li>
                  <li>Ecografia</li>
                  <li>Internación Clínica y Quirúrgica</li>
                  <li>Afiliaciones</li>
                  <li>Fichaje En Linea</li>
              </ul>
          </div>
      </div>
  </div>
</div>