.section{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.container{
    width: 85%;
}
.slider{
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

.slider .slide-track{
    display: inline-flex;
    animation: scroll 60s linear infinite;
    gap: 25px;
}

.slider .slide{
  
  flex-shrink: 0;
    display: flex;
    width: 260px;
    height: 260px;
    background-size: 90%; background-repeat: no-repeat; background-position: center;
    border: 10px solid rgb(177, 175, 175);
}

.slider .slide img{
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.slide-font{
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}
.slide-font::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom right, rgba(221, 20, 60, 0.7) 25%, transparent 20%, transparent 50%);
}
.slide-font::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom right, rgba(0, 0, 128, 0.8) 20%, rgba(0, 0, 128, 0.8) 40%, rgba(0, 0, 128, 0.8) 25%, transparent 30%);
}
.slide-font h3{
    color: white;
    margin-left: 20px;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(240px);
        transform: translateX(0px);
    }
    100%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-50%);
    }
}
#about{
    width: 100%;
    display: inline-block;
    color: gray;
}
.contain{
    width: 100%;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.head{
    width: 50%;
}
.slider-img{
    width: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;

}
.img-slider {
    overflow: hidden;
    width: 50%;
  }
  
  .img-slide-track {
    display: flex;
    animation: scroll 30s linear infinite; /* Ajusta el tiempo y la animación según lo necesites */
  }
  
  .img-slide {
    flex-shrink: 0;
    width: 25%; /* Ajusta el tamaño de la imagen según sea necesario */
    overflow: hidden;
  }
  
  .img-slide img {
    width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  .slider-img{
    width: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;

}
.containe{
    display: block;
    width: 100%;
}
.slider-m{
    overflow: hidden;
    place-items: center;
    width: 100%;
}
.m-slider {
    overflow: hidden;
    width: 50%;
  }
  @keyframes m-scroll{
    0%{
        -webkit-transform: translateX(240px);
        transform: translateX(0px);
    }
    100%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.m-slide-track {
    display: flex;
    animation: m-scroll 50s linear infinite; /* Ajusta el tiempo y la animación según lo necesites */
    gap: 25px;
}


.m-slide {
    flex-shrink: 0;
    width: 240px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 320px;
    overflow: hidden;
    border: 15px solid rgb(220, 20, 60);
    border-radius: 20px 0 0 0;
}
.m-slide-v {
    flex-shrink: 0;
    width: 240px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 320px;
    overflow: hidden;
    border: 15px solid navy;
    border-radius: 20px 0 0 0;
}
  
  .m-slide img, .m-slide-v img {
    width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100%;
    border-radius: 5px;
  }
  .im{
    width: 100%;
    height: 80%;
  }
  .description h5, p{
    text-align: center;
    margin: 4px;
  }
.atentions{
    margin-top: 40px;
    overflow: hidden;
    place-items: center;
    width: 100%;
}
.a-slider {
    overflow: hidden;
    width: 100%;
  }
  
.a-slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
.a-slide {
    flex-shrink: 0;
    width: 25%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 320px;
    overflow: hidden;
}
.am{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
  .a-slide img {
    width: 100%;
  }
  .description h3{
    text-align: center;
    color: gray;
    margin: 0;
  }
  
.row{
  margin-bottom: 80px;
}
.row-s p{
  text-align: start;
}
@media(max-width: 1000px){
  p{
    color: gray;
  }
  .container{
    width: 95%;
  }
  .title{
    font-size: 1em;
  }
  .contain{
    display: grid;
  }
  .head{
    width: 100%;
    margin: 0;
  }
  .slider-img{
    width: 100%;
    margin-top: 0;
  }
  .img-slide {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  .m-slide-v, .m-slide {
    flex-shrink: 0;
    width: 260px;
    height: 360px;
  }
  .a-slide{
    width: 320px;
  }
}