<div class="section">
    <div class="container">
        <div class="row">
            <h3 class="title"><b><u style="font-size: 1.5em; color: rgb(53, 52, 52);">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</u></b></h3>
            <p style="color: navy; float: left;"><b>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <u style="color: crimson;">A CONTINUACIÓN</u></b></p>
        </div>
        <div class="slider">
            <div class="slide-track">
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/logo.png')">
                    <div class="slide-font">
                        <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje"><h3><b><u>INGRESO A</u><br>FICHAJE<br>EN LINEA</b></h3>></a>
                    </div>
                    
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://ssupotosi.com.bo/informes/solvencias/solvencia.pdf"><h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web"><h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://view.genial.ly/5f216cb2c43a880d757fafb0/interactive-content-manual-de-fichaje"><h3><b><u>MANUAL</u><br>ATENCIÓN<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png');background-size:100%; background-repeat: no-repeat;">
                    <div class="slide-font">
                        <a href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones"><h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://certificaciones.ssupotosi.com.bo/verificar"><h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje"><h3><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://certificaciones.ssupotosi.com.bo/persona/verificar"><h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web"><h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://ssupotosi.com.bo/informes/solvencias/solvencia.pdf"><h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3>></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/logo.png')">
                    <div class="slide-font">
                        <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje"><h3><b><u>INGRESO A</u><br>FICHAJE<br>EN LINEA</b></h3>></a>
                    </div>
                    
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://ssupotosi.com.bo/informes/solvencias/solvencia.pdf"><h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web"><h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://view.genial.ly/5f216cb2c43a880d757fafb0/interactive-content-manual-de-fichaje"><h3><b><u>MANUAL</u><br>ATENCIÓN<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png');background-size:100%; background-repeat: no-repeat;">
                    <div class="slide-font">
                        <a href="https://view.genial.ly/5f34b3a4e648820d82f9a33d/interactive-content-tutorial-de-certificados-de-afiliaciones-y-no-afiliaciones"><h3><b><u>MANUAL</u><br>CERTIFICACIONES<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://certificaciones.ssupotosi.com.bo/verificar"><h3><b><u>MANUAL</u><br>RESERVA<br>DE FICHAS<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://fichaje.ssupotosi.com.bo/ssup_fichaje"><h3><b>INGRESO A<br>FICHAJE<br>EN LÍNEA</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://certificaciones.ssupotosi.com.bo/persona/verificar"><h3><b><u>CERTIFICADOS</u><br>AFILIACIÓN<br>NO AFILIACIÓN</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="http://covid.ssupotosi.com.bo:8081/ssup_covid19/web"><h3><b><u>CUESTIONARIO</u><br>COVID - 19</b></h3></a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('https://ssupotosi.com.bo/img/Escudo_de_Bolivia.png')">
                    <div class="slide-font">
                        <a href="https://ssupotosi.com.bo/informes/solvencias/solvencia.pdf"><h3><b><u>SOLVENCIAS</u><br>PARA<br>AFILIACIONES</b></h3>></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="section wow fadeIn">
            <div class="contain">
                <div class="head">
                    <div class="heading">
                        <h2>Brindando los mejores servicios</h2>
                    </div>
                    <div class="row">
                            <h5 class="text-justify">Servicio de ambulancia las 24 Hrs. de la semana<br>
                                Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.<br>
                                24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.<br>
                                Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al 
                            </h5>
                    </div>
                </div>
                <div class="slider-img">
                    <div class="img-silder">
                        <div class="img-slide-track">
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/farmacia.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/ambulancia.png" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/farmacia.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/ambulancia.png" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
                            </div>
                            <div class="img-slide">
                                <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h4><b><u>AUTORIDADES</u></b></h4><b>
            <a href="https://ssupotosi.com.bo/organigrama.html">
                <h5 style="background-color: crimson; color: navy;">Conosca a nuestras autoridades ingresando al enlace &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true" style="font-size: 25px;"></i></h5>
            </a></b>
        </div>
        <div id="doctorsgrales" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;" data-scroll-id="doctorsgrales" tabindex="-1">
            <div class="containe"> 
                <h2>
                    <span class="icon-logo" style="color: navy;"><i class="fas fa-user-md"></i></span>
                    Contamos con médicos especialistas preparados al servicio de la sociedad
                </h2>
                <div class="slider-m">
                    <div class="m-silder">
                        <div class="m-slide-track">
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/elena_bravo.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>ELENA BRAVO</h5>
                                    <p>MÉDICO GENERAL EST.</p>
                                </div>
                            </div>
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/grinez_rocio.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>GRINEZ ROCIO</h5>
                                    <p>MÉDICO CENTINELA</p>
                                </div>
                            </div>
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/melva_magne.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>MELVA MAGNE</h5>
                                    <p>REGENTE DE FARMACIA</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/alfredo_acha.jpeg" alt="">
                                </div>
                                <div class="description">
                                    <h5>ALFREDO ACHA</h5>
                                    <p>MÉDICO GENERAL</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/erick_lennis.png" alt="">
                                </div>
                                <div class="description">
                                    <h5>ERICK LENNIS</h5>
                                    <p>MÉDICO PEDIATRA</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/oscar_lafuente.png" alt="">
                                </div>
                                <div class="description">
                                    <h5>OSCAR LA FUENTE</h5>
                                    <p>MÉDICO GENERAL</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/jerson_arancibia.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>GERSON ARANCIBIA</h5>
                                    <p>GESTOR DE CALIDAD</p>
                                </div>
                            </div>
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/elena_bravo.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>ELENA BRAVO</h5>
                                    <p>MÉDICO GENERAL EST.</p>
                                </div>
                            </div>
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/grinez_rocio.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>GRINEZ ROCIO</h5>
                                    <p>MÉDICO CENTINELA</p>
                                </div>
                            </div>
                            <div class="m-slide">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/melva_magne.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>MELVA MAGNE</h5>
                                    <p>REGENTE DE FARMACIA</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/alfredo_acha.jpeg" alt="">
                                </div>
                                <div class="description">
                                    <h5>ALFREDO ACHA</h5>
                                    <p>MÉDICO GENERAL</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/erick_lennis.png" alt="">
                                </div>
                                <div class="description">
                                    <h5>ERICK LENNIS</h5>
                                    <p>MÉDICO PEDIATRA</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/oscar_lafuente.png" alt="">
                                </div>
                                <div class="description">
                                    <h5>OSCAR LA FUENTE</h5>
                                    <p>MÉDICO GENERAL</p>
                                </div>
                            </div>
                            <div class="m-slide-v">
                                <div class="im">
                                    <img src="https://ssupotosi.com.bo/images/medicos/jerson_arancibia.jpg" alt="">
                                </div>
                                <div class="description">
                                    <h5>GERSON ARANCIBIA</h5>
                                    <p>GESTOR DE CALIDAD</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            
            </div>
        </div> 
    </div>
</div>
<div class="atentions">
    <div class="a-silder">
        <div class="a-slide-track">
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>EMERGENCIAS</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>CONSULTA GENERAL</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>ECOGRAFÍA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>LABORATORIO</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/farmacia.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>FARMACIA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://www.tuotromedico.com/include/images/fotosContenidos/Radiografia.webp" alt="">
                </div>
                <div class="description">
                    <h3><b>RAGIOGRAFÍA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>CUESTIONARIO COVID 19</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/pediatria.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>PEDIATRÍA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/emergencias.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>EMERGENCIAS</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/medicina_gral.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>CONSULTA GENERAL</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/ecografia.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>ECOGRAFÍA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>LABORATORIO</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/farmacia.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>FARMACIA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://www.tuotromedico.com/include/images/fotosContenidos/Radiografia.webp" alt="">
                </div>
                <div class="description">
                    <h3><b>RAGIOGRAFÍA</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/laboratorio.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>CUESTIONARIO COVID 19</b></h3>
                </div>
            </div>
            <div class="a-slide">
                <div class="am">
                    <img src="https://ssupotosi.com.bo/images/pediatria.jpg" alt="">
                </div>
                <div class="description">
                    <h3><b>PEDIATRÍA</b></h3>
                </div>
            </div>
        </div>
    </div>
</div> 
