
.content-box {
    margin-top: 50px;
    margin-left: 7.5%;
    width: 84%;
    height: 270px;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid #2b2d4238;
}

.content-box > h1 {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    color: #2b2d42;
}

.content-box > section {
    width: 100%;
    height: 100%;
    display: flex;
}

.content-box > section > h4 {
    width: 50%;
    color: #2b2d42;
    padding-top: 25px;
    font-weight: 400;
    font-size: 18px;
}

.image-carousel {
    position: relative;
    width: 50%;
    display: flex;
    gap: 50px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-animation: scroll 15s linear infinite;
}

.slide > img {
    width: 250px;
    height: auto;
}

.management-heading {
    width: 84%;
    margin-top: 20px;
    color: #2b2d42;
    font-size: 22px;
    text-decoration: underline;
    margin-left:7.5%;
}

.link-to-management {
    cursor: pointer;
    margin-top: 15px;
    background: #dc143c;
    width: 84%;
    padding-bottom: 2px;
    display: flex;
    color: #000080;
    justify-content: start;
    align-items: end;
    gap: 15px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    margin-left: 7.5%;
}

.link-to-management > img {
    width: 85px;
    height: 25px;
    transform: rotate(90deg);
    
}

.doctors-heading {
    width: 70%;
    margin-top: 50px;
    color: #2b2d42;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    margin-left: 7.5%;
}

.doctors-heading > img {
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}
.male-doctor{
    
    height:200%;
    width: 180%;
}


.team-container {
    width: 84%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 7.5%;
}

.team-figure {
    display: flex;
    gap: 40px;
    animation: scroll 15s linear infinite; 
    
}

.team-figure > div {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 450px;
    border-top-left-radius: 10%;
    color: #2b2d42;
    align-items: center;
    text-transform: uppercase;
    margin-top: 10px;
    
}


.team-figure > div h2 {
    font-size: 18px;
    font-weight: 300;
}

.team-figure > div h1 {
    font-size: 18px;
    margin-top: 25px;
}

.team-figure > div img {
    width: 100%;
    height: 80%;
    
}

@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


.final-carousel {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-figure {
    display: flex;
    animation: scroll 30s linear infinite; 
}

.carousel-figure > div {
    position: relative;
    width: 480px;
    display: flex;
    flex-direction: column;
    height: 450px;
    text-transform: uppercase;
    margin-right: 20px;
}

.carousel-figure .distinct-color {
    font-size: 35px;
    color: #616166;
    width: 300px;
}

.carousel-figure > div > h1 {
    font-weight: bold;
    font-size: 35px;
    margin-top: 25px;
    color: #2b2d42;
    margin-top: 0;
}

.carousel-figure > div > img {
    width: 100%;
    height: 90%;
}

@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

