<main>
    <article class="content-box">
        <h1>Brindando los mejores servicios</h1>
        <section>
            <h4>Servicio de ambulancia las 24 Hrs. de la semana
                Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.
                24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.
                Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al
            </h4>
            
            <figure class="image-carousel">
                <figcaption class="slide">
                   <img src="../../assets/ambulancia.png">
                </figcaption>
                <figcaption class="slide">
                <img src="../../assets/emergencias.jpg">
                </figcaption>
                <figcaption class="slide">
                <img src="../../assets/medicina_gral.jpg">
                </figcaption>
                <figcaption class="slide">
                <img src="../../assets/ecografia.jpg">
                </figcaption>
                <figcaption class="slide">
                <img src="../../assets/laboratorio.jpg">
                </figcaption>
                <figcaption class="slide">
                <img src="../../assets/farmacia.jpg">
                </figcaption>
            </figure>
        </section>
    </article>
<h1 class="management-heading">Nuestro equipo de Gestión</h1>
<a href="#" class="link-to-management">Conozca más sobre nuestros líderes <img
        src="../../assets/hand-pointer-solid.svg"></a>
<h1 class="doctors-heading"><img src="../../assets/user-doctor-solid.svg"> Nuestros expertos médicos</h1>
<article class="team-container">
    <div class="team-figure">
        <div class="male-doctor">
            <img src="../../assets/jerson_arancibia.jpg">
            <h2>Jerson Arancibia</h2>
            <h1>gestor de calidad</h1>
        </div>
        <div class="female-doctor">
            <img src="../../assets/elena_bravo.jpg">
            <h2>Elena Bravo</h2>
            <h1>médico general est.</h1>
        </div>
        <div class="female-doctor">
            <img src="../../assets/grinez_rocio.jpg">
            <h2>Grinez Rocio</h2>
            <h1>médico centinela</h1>
        </div>
        <div class="female-doctor">
            <img src="../../assets/melva_magne.jpg">
            <h2>Melva Magne</h2>
            <h1>regente de farmacia</h1>
        </div>
        <div class="male-doctor alfred-container">
            <img src="../../assets/alfredo_acha.jpeg">
            <h2 class="alfred">Alfredo Acha</h2>
            <h1>médico general</h1>
        </div>
        <div class="male-doctor">
            <img src="../../assets/erick_lennis.png">
            <h2>Erick Lennis</h2>
            <h1>médico pediatra</h1>
        </div>
        <div class="male-doctor oscar-container">
            <img src="../../assets/oscar_lafuente.png">
            <h2 class="oscar">Oscar La Fuente</h2>
            <h1>médico general</h1>
        </div>
    </div>
</article>
<article class="final-carousel">
    <div class="carousel-figure">
        <div><img src="../../assets/emergencias.jpg"><h1>emergencias</h1></div>
        <div><img src="../../assets/medicina_gral.jpg"><h1>consulta general</h1></div>
        <div><img src="../../assets/ecografia.jpg"><h1>ecografía</h1></div>
        <div><img src="../../assets/laboratorio.jpg"><h1 class="distinct-color">laboratorio</h1></div>
        <div><img src="../../assets/farmacia.jpg"><h1 class="distinct-color">farmacia</h1></div>
        <div><img src="../../assets/laboratorio.jpg"><h1 class="distinct-color">cuestionario covid 19</h1></div>
        <div><img src="../../assets/pediatria.jpg"><h1>pediatría</h1></div>
    </div>
</article>

</main>