<footer class="site-footer">
    <section class="footer-top">
        <article class="footer-info">
            <h3 class="footer-heading">ACERCA DE NOSOTROS</h3>
            <ul class="footer-menu">
                <li><a href="#" class="footer-link"><img src="../../assets/img.svg">Dirección: Calama Nº. 107</a></li>
                <li><a href="#" class="footer-link"><img src="../../assets/img3.svg">Teléfono: +591-2-6223227</a></li>
                <li><a href="#" class="footer-link"><img src="../../assets/img3.svg">Informaciones - Fichaje: +591-2-6223597</a></li>
                <li><a href="#" class="footer-link"><img src="../../assets/img3.svg">Emergencias - Clínica: +591-2-6224161</a></li>
                <li><a href="#" class="footer-link"><img src="../../assets/img3.svg">segurosocialuniversitario&#64;ssupotosi.com.bo</a></li>
            </ul>
        </article>
        <article class="footer-services">
            <h3 class="footer-heading">SERVICIOS</h3>
            <ul class="footer-menu">
                <li><a href="#" class="footer-link">Consulta Externa</a></li>
                <li><a href="#" class="footer-link">Laboratorio Clínico</a></li>
                <li><a href="#" class="footer-link">Imagenología</a></li>
                <li><a href="#" class="footer-link">Enfermería</a></li>
                <li><a href="#" class="footer-link">Farmacia</a></li>
            </ul>
        </article>
        <article class="footer-other">
            <h3 class="footer-heading">&nbsp;</h3>
            <ul class="footer-menu">
                <li><a href="#" class="footer-link">Fisioterapia</a></li>
                <li><a href="#" class="footer-link">Ecografía</a></li>
                <li><a href="#" class="footer-link">Internación Clínica y Quirúrgica</a></li>
                <li><a href="#" class="footer-link">Afiliaciones</a></li>
                <li><a href="http://fichaje.ssupotosi.com.bo/" class="footer-link"><b>Fichaje En Línea</b></a></li>
            </ul>
        </article>
    </section>
    <section class="footer-bottom">
        <nav class="footer-nav">
            <span class="footer-copyright">
                Desarrollado por Lisbeth Cuenca Mamani.<br>
                &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados - Seguro Social Universitario Potosí<br>
                <i class="footer-icon fa fa-university" aria-hidden="true"></i>
                <a href="#" class="footer-link" target="_blank">S.S.U.P.</a>
            </span>
        </nav>
    </section>
</footer>
