.site-footer {
    background-color: #1E1F29;
    color: #B9BABC;
    padding: 50px 0;
    margin-right: 0%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-info,
.footer-services,
.footer-other {
    flex-basis: 30%;
}


.footer-heading {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 50%; 
}

.footer-menu {
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right:30%;
    font-size: 15px;
}

.footer-link {
    color: #B9BABC;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer-link:hover {
    color: #D10024;
}

.footer-bottom {
    background-color: #15161D;
    padding: 20px 0;
}


.footer-nav {
    text-align: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-icon {
    margin-right: 5px;
}
