<div class="container-carrusel-3">
    <div class="columna">
      <div class="carrusel-3">
        <input type="radio" id="imagen1-3" name="carrusel-3" checked>
        <div class="imagen-3">
          <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
          <div class="texto-bajo">Pediatra</div>
        </div>
        <input type="radio" id="imagen2-3" name="carrusel-3">
        <div class="imagen-3">
          <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 2">
          <div class="texto-bajo">Urgencia</div>
        </div>
        <input type="radio" id="imagen3-3" name="carrusel-3">
        <div class="imagen-3">
          <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 3">
          <div class="texto-bajo">Radiografia</div>
        </div>
        <input type="radio" id="imagen4-3" name="carrusel-3">
        <div class="imagen-3">
          <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 4">
          <div class="texto-bajo">Consulta General</div>
        </div>
        <input type="radio" id="imagen5-3" name="carrusel-3">
        <div class="imagen-3">
          <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 5">
          <div class="texto-bajo">Emergencias</div>
        </div>
        <input type="radio" id="imagen6-3" name="carrusel-3">
        <div class="imagen-3">
          <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 6">
          <div class="texto-bajo">Ecografias</div>
        </div>
      </div>
    </div>
  </div>
  
  