<div class="seccion-tarjetas">
    <div class="car-medico-titulo">
      <img src="../assets/img/llamar.png" class="icon-med" alt="">
      <p>Contamos con médicos especialistas preparados al servicio de la sociedad</p>
    </div>
    <div class="car-medico-tarjetas">
      <div class="car-medico-tarjeta">
        <img src="../assets/img/doctor1.jpeg" alt="Imagen 1">
        <div class="car-medico-contenido">
          <h3>Alfredo Acha</h3>
          <p>Medico General</p>
        </div>
      </div>
      <div class="car-medico-tarjeta">
        <img src="../assets/img/doctor2.png" alt="Imagen 1">
        <div class="car-medico-contenido">
          <h3>Oscar La Fuente</h3>
          <p>Medico General</p>
        </div>
      </div>
      <div class="car-medico-tarjeta">
        <img src="../assets/img/doctor3.jpg" alt="Imagen 1">
        <div class="car-medico-contenido">
          <h3>Melva Magne</h3>
          <p>Regente en Farmacia</p>
        </div>
      </div>
      <div class="car-medico-tarjeta">
        <img src="../assets/img/doctor4.png" alt="Imagen 1">
        <div class="car-medico-contenido">
          <h3>Erick Lenis</h3>
          <p>Medico Pediatra</p>
        </div>
      </div>
    </div>
  </div>