#top-header {
    margin: 0;
    background-color: #1e245f;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    place-items: center;
    
}
.header-links{
    float: left;
    list-style:none;
    margin-right: 20px;
}
.header-links li{
    display: inline-block;
    margin-right: 20px;
}
.header-links li a{
    color: #fff;
}
.header-logo{
    float: left;
    margin-right: 10%;
}
.row{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 10%;
    padding-left: 10px;
    padding-right: 20px;
}
nav{
    border-top: 3px solid #D10024;
}

#responsive-nav{
    display: inline-block;
    width: 100%;
    text-align: center;
}
#responsive-nav ul li{
    display: inline-block;
    margin-right: 5%;
}
.dropdown-menu{
    position: fixed;
    background-color: gray;
    width: 200px;
}

.dropdown-menu li{
    float: left;
    display: inline;
}
a{
    text-decoration: none;
}
.dropdown-toggle:hover{
    color: #D10024;
    border-bottom: 2px solid #D10024;;
}