.movie-card{
    width: 200px;
    height: 300px;

    .title{
        display:none;
        position:absolute;
        bottom: 8px;
        background-color: rgb(51, 50, 50);
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    &:hover{
        transform: scale(1.2);
        transition: all .3s ease-in-out;
        
        .title{
            display: block;
        }
    }
    
}