<header class="topHeader">
    <nav>
        <a href="#"><img src="../../assets/phone-flip-solid.svg"> Emergencias +591-2-6224161</a>
        <a href="#"><img src="../../assets/email-solid.svg"> segurosocialluniversitario{{"@"}}ssupotosi.com.bo</a>
        <a href="#"><img src="../../assets/location-pin-solid.svg"> Calle Calama N° 107</a>
    </nav>
   
</header>
<section>
    <img src="../../assets/logo.png">
    <h1>SEGURO SOCIAL UNIVERSITARIO POTOSÍ</h1>
    <aside>
        <section class="sectionOneHeader">
            <img src="../../assets/Escudo_de_Bolivia.png">
            <img src="../../assets/convocatorias-ico-final.jpg">
            <figure>
                <img src="../../assets/bell-solid.svg"><h3>Siguenos</h3>
            </figure>
        </section>
        <section class="sectionTwoHeader">
            <img src="../../assets/load-solid.svg">
            <h3>Reservas</h3>
        </section>
    </aside>
</section>