<div class="barra">
    <div class="icono" style="margin-left: 90px;">
        <img src="../assets/img/llamar.png" alt="Icono de Teléfono">
        <p>Emergencias +591-2-6224161</p>
    </div>
    <div class="icono">
        <img src="../assets/img/correo.png" alt="Icono de Correo">
        <p>segurosocialuniversitario&#64;ssupotosi.com.bo</p>
    </div>
    <div class="icono">
        <img src="../assets/img/pasador-de-ubicacion.png" alt="Icono de Ubicación">
        <p>Calle Calama Nº 107</p>
    </div>
</div>

<div class="seccion">
    <img src="../assets/img/logo-seguro.png" alt="Imagen izquierda" class="imagen">
    <h1 class="titulo">SEGURO SOCIAL<br>UNIVERSITARIO POTOSÍ</h1>
    <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen derecha" class="imagen">
</div>