
<div class="div1 mt-5">
    <div class="div2">
        <h1 class="underline">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
        <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran
        <samp class="underline text-red-600"><strong>A CONTINUACION</strong> </samp>
        </p>
        <div>
            <ul class="flex gap-5">
            
                <li class="shrink-0 group overflow-hidden">
                    <a href="/">
                        <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/afiliaciones.png" >
                    </a>
                </li>
                <li class="shrink-0 group overflow-hidden">
                    <a href="/">
                        <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/img-cuestionario.png" >
                    </a>
                </li>     
                <li class="shrink-0 group overflow-hidden">
                    <a href="/">
                        <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/word.png" >
                    </a>
                </li>
                <li class="shrink-0 group overflow-hidden">
                    <a href="/">
                        <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/pdf.png" >
                    </a>
                </li>
                <!--<li class="shrink-0 group overflow-hidden">
                    <a href="/">
                        <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/pdf.png" >
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<footer>
    <section class="Fsection1">
      <div class="FU1">
        <h2><strong>ACERCA DE NOSOTROS</strong> </h2>
        <ul>
            <li>Dirección: Calama Nº. 107</li>
            <li>Teléfono: +591-2-6223227</li>
            <li>Informaciones - Fichaje: +591-2-6223597</li>
            <li>Emergencias - Clinica: +591-2-6224161</li>
            <li>segurosocialuniversitario ssupotosi.com.bo</li>
        </ul>
      </div>
      <div class="FU2">
        <h2><strong>SERVICIOS</strong></h2>
        <ul>
            <li>Consulta Externa</li>
            <li>Laboratorio Clínico</li>
            <li>Imagenología</li>
            <li>Enfermería</li>
            <li>Farmacia</li>
        </ul>
      </div>
      <div>
        <ul class="FU3">
            <li>Fisioterapia</li>
            <li>Ecografía</li>
            <li>Internación Clínica y Quirúrgica</li>
            <li>Afiliaciones</li>
            <li><strong>Fichaje En Linea</strong></li>
        </ul>
      </div>
    </section>
    <section class="Fsection2">
      <div>
        <p>Copyright ©2024 Todos los derechos reservados - Seguro Social Universitario Potosí</p>
          <p>S.S.U.P.</p>
         <p>Desarrollado por Ing. Hernán Flores Ramírez.</p>
      </div>
    </section>
  </footer>

<style>
    .div1{
        display: flex;
        justify-content: center;
        margin: 1%;
    }
    .div2{
        width: 75%;
    }
    .div2 h1{
        font-weight: bold;
        font-size: x-large;
    }
    .div1 p{
        color: #1e245f;
        font-weight: bold;
        padding-right: 5px;
        padding-top: 5px;
    }
    img{
        padding-top: 20px;
        width: 270px;
        height: 270px;
    }
    .Fsection2 div{
        padding-top: 30px;
        padding-bottom: 10px;
        width: 40%;
    }
    .Fsection2 {
        text-align: center;
        font-size: small;
        display: flex;
        justify-content: center;
        color: white;
        background-color: #313233;
    }
    .Fsection1{
        display: flex;
        justify-content: center;
        background-color: #1c1c1d;
        color: white;
        padding-bottom: 25px;
    }
    .Fsection1 div{
        width: 25%;
        margin: 10px;
    }
    .Fsection1 H2{
        font-size: large;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .Fsection1 li{
        font-size: small;
        padding-left:10px;
        padding-bottom: 10px;
    }
    .FU3{
        padding-top: 75px;
    }
    .FU2{
        padding-left: 140px;
    }
</style>