<p>login works!</p>
<!-- <div class="contenedor">
    <div class="reserva">
        <h2>RESERVA DE ATENCIÓN 2023!!!</h2>
        <p>LUNES A VIERNES</p>
        <p>Asegurados de 19:30 a 20:00</p>
        <p>Estudiantes de 20:00 a 20:30</p>
    </div>
    <div class="formulario">
        <div class="campo">
            <h3>Usuario</h3>
            <input type="text" placeholder="Código de carnet de asegurado">
        </div>
        <div class="campo">
            <h3>Contraseña</h3>
            <input type="password" placeholder="Nº de carnet">
        </div>
        <button>Ingresar</button>
        <p class="mensaje">Señor usuario su sesión acaba de expirar, por favor vuelva a introducir sus credenciales de acceso.</p>
    </div>
</div>
 -->