<main class="main-container">
    <section class="main-content">
        <h1 class="main-title">Últimas Novedades y Consultas Externas</h1>
        <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span class="top-link">a continuación</span></p>
    </section>
    <div class="article-container">
        <div class="slider">
            <figure class="article">
                <img src="../../assets/img10.png">
                <figcaption>Ingreso a fichaje en línea</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/img9.png">
                <figcaption>Certificados afiliación no afiliación</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/img11.png">
                <figcaption>Cuestionario COVID-19</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/word.png">
                <figcaption>Solvencias para afiliaciones</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/pdf.png">
                <figcaption>Manual de atención en línea</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/pdf.png">
                <figcaption>Manual certificación en línea</figcaption>
            </figure>
            <figure class="article">
                <img src="../../assets/pdf.png">
                <figcaption>Manual reserva de fichas en línea</figcaption>
            </figure>
        </div>
    </div>
</main>