
<div class="container-carrusel-1">
    <div class="columna">
      <div class="contenido-c1">
        <h2 class="titulo-c1">Brindando los mejores servicios</h2>
          <p class="parrafo-c1">Servicio de ambulancia las 24 Hrs. de la semana. Les brindamos los mejores servicios y médicos para su confort con calidad y calidez. 24/7 la fórmula perfecta al servicio de nuestros asegurados y la población en general. Las 24 horas y los 7 días de la semana, en caso de necesitarnos, llamar al +591-2-6224161</p>
        </div>
    </div>
    <div class="columna">
      <div class="carrusel1">
        <input type="radio" id="imagen1" name="carrusel1" checked>
        <div class="imagen1">
          <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 1">
        </div>
        <input type="radio" id="imagen2" name="carrusel1">
        <div class="imagen1">
          <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen 2">
        </div>
        
        <input type="radio" id="imagen3" name="carrusel1" checked>
        <div class="imagen1">
          <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 1">
        </div>
        <input type="radio" id="imagen4" name="carrusel1">
        <div class="imagen1">
          <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen 2">
        </div>
        
        <input type="radio" id="imagen5" name="carrusel1" checked>
        <div class="imagen1">
          <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
        </div>
        <input type="radio" id="imagen6" name="carrusel1">
        <div class="imagen1">
          <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 2">
        </div>
    
        <input type="radio" id="imagen7" name="carrusel1" checked>
        <div class="imagen1">
          <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
        </div>
        
      </div>
    </div>
    </div>