<main>
    <section class="main">
        <h1 class="title">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
        <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span class="topMainSpan">A CONTINUACIÓN</span></p>
    </section>
    <div class="containerArticle">
        <div class="slaider">
            <figure class="art1"><img src="../../assets/ingreso.png"><h1>ingreso a fichaje en línea</h1></figure>
            <figure class="art1"><img src="../../assets/afiliaciones.png"><h1>cetificados afiliacion no afiliacion</h1></figure>
            <figure class="art1"><img src="../../assets/img-cuestionario.png"><h1>cuestionario covid 19</h1></figure>
            <figure class="art1"><img src="../../assets/word.png"><h1>solvencias para afiliaciones</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual de atencion en linea</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual certificacion en linea</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual reserva de fichas en linea</h1></figure>
            <figure class="art1"><img src="../../assets/ingreso.png"><h1>ingreso a fichaje en línea</h1></figure>
            <figure class="art1"><img src="../../assets/afiliaciones.png"><h1>cetificados afiliacion no afiliacion</h1></figure>
            <figure class="art1"><img src="../../assets/img-cuestionario.png"><h1>cuestionario covid 19</h1></figure>
            <figure class="art1"><img src="../../assets/word.png"><h1>solvencias para afiliaciones</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual de atencion en linea</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual certificacion en linea</h1></figure>
            <figure class="art1"><img src="../../assets/pdf.png"><h1>manual reserva de fichas en linea</h1></figure>
        </div>
    </div>
</main>