<main>
    <section class="main">
        <h1 class="title">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
        <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span class="topMainSpan">A CONTINUACIÓN</span></p>
    </section>
    <div class="containerArticle">
        <figure class="art1"><img src="../../assets/ingreso.png"> <h1>ingreso a fichaje en línea</h1></figure>
        <article class="art1"><img src="../../assets/afiliaciones.png"></article>
        <article class="art1"><img src="../../assets/img-cuestionario.png"></article>
        <article class="art1"><img src="../../assets/word.png"></article>
        <article class="art1"><img src="../../assets/pdf.png"></article>
        <article class="art1"><img src="../../assets/pdf.png"></article>
        <article class="art1"><img src="../../assets/pdf.png"></article>
    </div>
</main>