<main>
    <section class="main">
        <h1 class="title">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
        <p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span
                class="topMainSpan">A CONTINUACIÓN</span></p>
    </section>

    <article class="containerArticle">
        <section class="slaider">
            <figure class="art1"><img src="../../assets/ingreso.png">
                <h1>ingreso a fichaje en línea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/afiliaciones.png">
                <h1>cetificados afiliacion no afiliacion</h1>
            </figure>
            <figure class="art1"><img src="../../assets/img-cuestionario.png">
                <h1>cuestionario covid 19</h1>
            </figure>
            <figure class="art1"><img src="../../assets/word.png">
                <h1>solvencias para afiliaciones</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual de atencion en linea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual certificacion en linea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual reserva de fichas en linea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/ingreso.png">
                <h1>ingreso a fichaje en línea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/afiliaciones.png">
                <h1>cetificados afiliacion no afiliacion</h1>
            </figure>
            <figure class="art1"><img src="../../assets/img-cuestionario.png">
                <h1>cuestionario covid 19</h1>
            </figure>
            <figure class="art1"><img src="../../assets/word.png">
                <h1>solvencias para afiliaciones</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual de atencion en linea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual certificacion en linea</h1>
            </figure>
            <figure class="art1"><img src="../../assets/pdf.png">
                <h1>manual reserva de fichas en linea</h1>
            </figure>
        </section>
    </article>
    <article class="middleArt">
        <h1>Brindando los mejores servicios</h1>
        <section>
            <h4>Servicio de ambulancia las 24 Hrs. de la semana<br>
                Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.<br>
                24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.<br>
                Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al
            </h4>
            <figure class="Slaider">
                <figcaption class="subSlaider">
                    <img src="../../assets/ambulancia.png">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/emergencias.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/medicina_gral.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/ecografia.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/laboratorio.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/farmacia.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/ambulancia.png">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/emergencias.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/medicina_gral.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/ecografia.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/laboratorio.jpg">
                </figcaption>
                <figcaption class="subSlaider">
                    <img src="../../assets/farmacia.jpg">
                </figcaption>
            </figure>
        </section>
    </article>
    <h1 class="h1Autoridades">AUTORIDADES</h1>
    <a href="#" class="aHand">Conosca a nuestras autoridades ingresando al enlace <img
            src="../../assets/hand-pointer-solid.svg"></a>
    <h1 class="docH1"><img src="../../assets/user-doctor-solid.svg"> Contamos con médicos especialistas preparados al
        servicio de la sociedad</h1>
    <article class="artProfesionales">
        <figure class="containerProfesionales">
            <figcaption class="hombre"><img  src="../../assets/jerson_arancibia.jpg"><h2>Jerson Arancibia</h2> <h1>gestor de calidad</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/elena_bravo.jpg"> <h2>elena bravo</h2> <h1>medico general est.</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/grinez_rocio.jpg"> <h2>grinez rocio</h2> <h1>medico centinella</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/melva_magne.jpg"> <h2>melva magne</h2> <h1>regente de farmacia</h1></figcaption>
            <figcaption class="hombre containerAlfred"><img  src="../../assets/alfredo_acha.jpeg"> <h2 class="alfred">alfedro acha</h2> <h1>medico general</h1></figcaption>
            <figcaption class="hombre"><img  src="../../assets/erick_lennis.png"> <h2>erick lennis</h2> <h1>medico pediatra</h1></figcaption>
            <figcaption class="hombre containerOscar"><img  src="../../assets/oscar_lafuente.png"> <h2 class="oscar">oscar la fuente</h2> <h1>medico general</h1></figcaption>
            <figcaption class="hombre"><img  src="../../assets/jerson_arancibia.jpg"><h2>Jerson Arancibia</h2> <h1>gestor de calidad</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/elena_bravo.jpg"> <h2>elena bravo</h2> <h1>medico general est.</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/grinez_rocio.jpg"> <h2>grinez rocio</h2> <h1>medico centinella</h1></figcaption>
            <figcaption class="mujer"><img  src="../../assets/melva_magne.jpg"> <h2>melva magne</h2> <h1>regente de farmacia</h1></figcaption>
            <figcaption class="hombre containerAlfred"><img  src="../../assets/alfredo_acha.jpeg"> <h2 class="alfred">alfedro acha</h2> <h1>medico general</h1></figcaption>
            <figcaption class="hombre"><img  src="../../assets/erick_lennis.png"> <h2>erick lennis</h2> <h1>medico pediatra</h1></figcaption>
            <figcaption class="hombre containerOscar"><img  src="../../assets/oscar_lafuente.png"> <h2 class="oscar">oscar la fuente</h2> <h1>medico general</h1></figcaption>
        </figure>
    </article>
    <article class="slaiderFinal">
        <figure class="slaiderFig">
            <figcaption><img src="../../assets/emergencias.jpg"><h1>emergencias</h1></figcaption>
            <figcaption><img src="../../assets/medicina_gral.jpg"><h1>consulta general</h1></figcaption>
            <figcaption><img src="../../assets/ecografia.jpg"><h1>ecografia</h1></figcaption>
            <figcaption><img src="../../assets/laboratorio.jpg"><h1 class="colorDistinto">laboratorio</h1></figcaption>
            <figcaption><img src="../../assets/farmacia.jpg"><h1 class="colorDistinto">farmacia</h1></figcaption>
            <figcaption><h1 class="colorDistinto">radiografía</h1></figcaption>
            <figcaption><img src="../../assets/laboratorio.jpg"><h1 class="colorDistinto">cuestionario covid 19</h1></figcaption>
            <figcaption><img src="../../assets/pediatria.jpg"><h1>pediatría</h1></figcaption>
            <figcaption><img src="../../assets/emergencias.jpg"><h1>emergencias</h1></figcaption>
            <figcaption><img src="../../assets/medicina_gral.jpg"><h1>consulta general</h1></figcaption>
            <figcaption><img src="../../assets/ecografia.jpg"><h1>ecografia</h1></figcaption>
            <figcaption><img src="../../assets/laboratorio.jpg"><h1 class="colorDistinto">laboratorio</h1></figcaption>
            <figcaption><img src="../../assets/farmacia.jpg"><h1 class="colorDistinto">farmacia</h1></figcaption>
            <figcaption><h1 class="colorDistinto">radiografía</h1></figcaption>
            <figcaption><img src="../../assets/laboratorio.jpg"><h1 class="colorDistinto">cuestionario covid 19</h1></figcaption>
            <figcaption><img src="../../assets/pediatria.jpg"><h1>pediatría</h1></figcaption>
        </figure>
    </article>
</main>