<article class="containerArticle">
  <section class="slaider">
      <figure class="des"><a href="./nofound"></a><img src="../../assets/ingreso.png"><h1>ingreso a fichaje en línea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/afiliaciones.png"><h1>cetificados afiliacion no afiliacion</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/img-cuestionario.png"><h1>cuestionario covid 19</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/word.png"><h1>solvencias para afiliaciones</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual de atencion en linea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual certificacion en linea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual reserva de fichas en linea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/ingreso.png"><h1>ingreso a fichaje en línea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/afiliaciones.png"><h1>cetificados afiliacion no afiliacion</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/img-cuestionario.png"><h1>cuestionario covid 19</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/word.png"><h1>solvencias para afiliaciones</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual de atencion en linea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual certificacion en linea</h1></figure>
      <figure class="des"><a href="./nofound"></a><img src="../../assets/pdf.png"><h1>manual reserva de fichas en linea</h1></figure>
  </section>
</article>
<div class="letra">
    <div class="message-box">
      <h2>Brindando los mejores servicios</h2>
      <p>Servicio de ambulancia las 24 Hrs. de la semana
        <br>
        Les brindamos los mejores servicios y médicos para su confort con calidad y calidez.
        <br>
        24/7 la formula perfecta al servicio de nuestos asegurados y la población en general.
        <br>
        Las 24 horas y los 7 días de la semana, en caso de necesitarnos llamar al 
         </p>  
</div>
<div class="carrucel">
      <div class="carrucel-items">
          <div class="carrucel-item">
              <img src="./assets/ambulancia.png" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/farmacia.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/pediatria.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/emergencias.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/medicina_gral.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/ecografia.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/laboratorio.jpg" alt="">
             
          </div>
          <div class="carrucel-item">
              <img src="./assets/farmacia.jpg" alt="10px">
              
          </div>
          <div class="carrucel-item">
              <img src="./assets/ecografia.jpg" alt="">
          </div>
          <div class="carrucel-item">
              <img src="./assets/laboratorio.jpg" alt="">
          </div>
      </div>
    </div>
  </div>


