<h1 class="underline">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
<p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran
    <samp class="underline text-red-600">A CONTINUACION</samp>
</p>
<div>
    <ul class="flex gap-5">
        <li class="shrink-0 group overflow-hidden ">
            <a  href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/ingreso.png" >
                <div class="absolute h-full w-full top-0 left-7 right-0 z-50 bg-red-600" style="clip-path: polygon(70% 0, 100% 0, 35% 100%, 0 100% );"></div>
            </a>
        </li>
        <li class="shrink-0 group overflow-hidden">
            <a href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/afiliaciones.png" >
            </a>
        </li>
        <li class="shrink-0 group overflow-hidden">
            <a href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/img-cuestionario.png" >
            </a>
        </li>     
          <li class="shrink-0 group overflow-hidden">
            <a href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/word.png" >
            </a>
        </li>
        <li class="shrink-0 group overflow-hidden">
            <a href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/pdf.png" >
            </a>
        </li>
        <li class="shrink-0 group overflow-hidden">
            <a href="/">
                <img class="group-hover:scale-150 transition duration-700 ease-in-out w-[100px] h-[100px]" src="assets/pdf.png" >
            </a>
        </li>
        
    
 
    </ul>
</div>