<div class="barra">
  <div class="icono" style="margin-left: 90px;">
      <img src="../assets/img/llamar.png" alt="Icono de Teléfono">
      <p>Emergencias +591-2-6224161</p>
  </div>
  <div class="icono">
      <img src="../assets/img/correo.png" alt="Icono de Correo">
      <p>segurosocialuniversitario&#64;ssupotosi.com.bo</p>
  </div>
  <div class="icono">
      <img src="../assets/img/pasador-de-ubicacion.png" alt="Icono de Ubicación">
      <p>Calle Calama Nº 107</p>
  </div>
</div>
<div class="seccion">
  <img src="../assets/img/logo-seguro.png" alt="Imagen izquierda" class="imagen">
  <h1 class="titulo">SEGURO SOCIAL<br>UNIVERSITARIO POTOSÍ</h1>
  <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen derecha" class="imagen">
</div>

<!-- agregar animacion al componente de reservas -->

<div class="mov-container">
  <div class="mov-imagen-container">
    <img src="../assets/img/convocatorias-ico-final.jpg" alt="Imagen" class="mov-imagen">
  </div>
  <div class="mov-texto-container">
    <p class="mov-reservas">Reservas</p>
    <p class="mov-siguenos">Siguenos</p>
  </div>
</div>

<!-- reservas fin -->

<nav class="navbar">
  <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Institucional</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Personal de Salud</a></li>
      <li><a href="#">Contrataciones</a></li>
      <li><a href="#">Transparencia</a></li>
  </ul>
</nav>

<!-- roll -->

<div class="roll-container">
  <h1 class="roll-titulo">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
  <h2 class="roll-subtitulo">Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span style="color: red; text-decoration: underline;">A CONTINUACIÓN</span></h2>
  <div class="roll-carrusel">
    <div class="roll-cuadro">
      <img src="../assets/img/pdf.png" alt="Imagen 1">
      <p class="roll-texto">Manual atencion en linea</p>
    </div>
    <div class="roll-cuadro">
      <img src="../assets/img/word.png" alt="Imagen 2">
      <p class="roll-texto">Manual reserva de fichas en linea</p>
    </div>
    <div class="roll-cuadro">
      <img src="../assets/img/covid.png" alt="Imagen 3">
      <p class="roll-texto">encuenta covid 19</p>
    </div>
    <div class="roll-cuadro">
      <img src="../assets/img/pdf.png" alt="Imagen 4">
      <p class="roll-texto">Manual atencion en linea</p>
    </div>
  </div>
</div>

<!-- roll end -->

<div class="container-carrusel-1">
  <div class="columna">
    <div class="contenido-c1">
      <h2 class="titulo-c1">Brindando los mejores servicios</h2>
        <p class="parrafo-c1">Servicio de ambulancia las 24 Hrs. de la semana. Les brindamos los mejores servicios y médicos para su confort con calidad y calidez. 24/7 la fórmula perfecta al servicio de nuestros asegurados y la población en general. Las 24 horas y los 7 días de la semana, en caso de necesitarnos, llamar al +591-2-6224161</p>
      </div>
  </div>
  <div class="columna">
    <div class="carrusel1">
      <input type="radio" id="imagen1" name="carrusel1" checked>
      <div class="imagen1">
        <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 1">
      </div>
      <input type="radio" id="imagen2" name="carrusel1">
      <div class="imagen1">
        <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen 2">
      </div>
      
      <input type="radio" id="imagen3" name="carrusel1" checked>
      <div class="imagen1">
        <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 1">
      </div>
      <input type="radio" id="imagen4" name="carrusel1">
      <div class="imagen1">
        <img src="../assets/img/Escudo_de_Bolivia.png" alt="Imagen 2">
      </div>
      
      <input type="radio" id="imagen5" name="carrusel1" checked>
      <div class="imagen1">
        <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
      </div>
      <input type="radio" id="imagen6" name="carrusel1">
      <div class="imagen1">
        <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 2">
      </div>
  
      <input type="radio" id="imagen7" name="carrusel1" checked>
      <div class="imagen1">
        <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
      </div>
      
    </div>
  </div>
  </div>

<!-- txt enter -->

  <div class="com-container">
    <h2 class="com-titulo">AUTORIDADES</h2>
    <div class="com-subtitulo-container">
      <p class="com-subtitulo">Conozca a nuestras autoridades ingresando al enlace</p>
    </div>
  </div>
<!-- fin enter -->

<!-- doctores -->

<div class="seccion-tarjetas">
  <div class="car-medico-titulo">
    <img src="../assets/img/llamar.png" class="icon-med" alt="">
    <p>Contamos con médicos especialistas preparados al servicio de la sociedad</p>
  </div>
  <div class="car-medico-tarjetas">
    <div class="car-medico-tarjeta">
      <img src="../assets/img/doctor1.jpeg" alt="Imagen 1">
      <div class="car-medico-contenido">
        <h3>Alfredo Acha</h3>
        <p>Medico General</p>
      </div>
    </div>
    <div class="car-medico-tarjeta">
      <img src="../assets/img/doctor2.png" alt="Imagen 1">
      <div class="car-medico-contenido">
        <h3>Oscar La Fuente</h3>
        <p>Medico General</p>
      </div>
    </div>
    <div class="car-medico-tarjeta">
      <img src="../assets/img/doctor3.jpg" alt="Imagen 1">
      <div class="car-medico-contenido">
        <h3>Melva Magne</h3>
        <p>Regente en Farmacia</p>
      </div>
    </div>
    <div class="car-medico-tarjeta">
      <img src="../assets/img/doctor4.png" alt="Imagen 1">
      <div class="car-medico-contenido">
        <h3>Erick Lenis</h3>
        <p>Medico Pediatra</p>
      </div>
    </div>
  </div>
</div>

<!-- fin doctores -->





<!-- carrousel 3 -->

<div class="container-carrusel-3">
  <div class="columna">
    <div class="carrusel-3">
      <input type="radio" id="imagen1-3" name="carrusel-3" checked>
      <div class="imagen-3">
        <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 1">
        <div class="texto-bajo">Pediatra</div>
      </div>
      <input type="radio" id="imagen2-3" name="carrusel-3">
      <div class="imagen-3">
        <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 2">
        <div class="texto-bajo">Urgencia</div>
      </div>
      <input type="radio" id="imagen3-3" name="carrusel-3">
      <div class="imagen-3">
        <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 3">
        <div class="texto-bajo">Radiografia</div>
      </div>
      <input type="radio" id="imagen4-3" name="carrusel-3">
      <div class="imagen-3">
        <img src="../assets/img/emergencias-imgcard.jpg" alt="Imagen 4">
        <div class="texto-bajo">Consulta General</div>
      </div>
      <input type="radio" id="imagen5-3" name="carrusel-3">
      <div class="imagen-3">
        <img src="../assets/img/laboratorio-imgcard.jpg" alt="Imagen 5">
        <div class="texto-bajo">Emergencias</div>
      </div>
      <input type="radio" id="imagen6-3" name="carrusel-3">
      <div class="imagen-3">
        <img src="../assets/img/ambulancia-imgcard.png" alt="Imagen 6">
        <div class="texto-bajo">Ecografias</div>
      </div>
    </div>
  </div>
</div>


<!-- carrousel 3 fin -->

  <div class="container">
    <div class="columna">
        <h2>ACERCA DE NOSOTROS</h2>
        <p>Dirección: Calama Nº. 107</p>
        <p>Teléfono: +591-2-6223227</p>
        <p>Informaciones - Fichaje: +591-2-6223597</p>
        <p>Emergencias - Clínica: +591-2-6224161</p>
        <p>segurosocialuniversitario&#64;ssupotosi.com.bo</p>
    </div>
    <div class="columnaser">
      <h2>SERVICIOS</h2>
      <div class="servicios-container">
          <div class="servicios-columna">
              <ul>
                  <li>Consulta Externa</li>
                  <li>Laboratorio Clínico</li>
                  <li>Imagenología</li>
                  <li>Enfermería</li>
                  <li>Farmacia</li>
              </ul>
          </div>
          <div class="servicios-columna">
              <ul>
                  <li>Fisioterapia</li>
                  <li>Ecografia</li>
                  <li>Internación Clínica y Quirúrgica</li>
                  <li>Afiliaciones</li>
                  <li>Fichaje En Linea</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
      <p>Copyright ©2024 Todos los derechos reservados - Seguro Social Universitario Potosí</p>
      <p>S.S.U.P.</p>
      <p>Desarrollado por</p>
  </div>
</footer>


<!-- <router-outlet /> -->
