

<div class="roll-container">
    <h1 class="roll-titulo">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
    <h2 class="roll-subtitulo">Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran <span style="color: red; text-decoration: underline;">A CONTINUACIÓN</span></h2>
    <div class="roll-carrusel">
      <div class="roll-cuadro">
        <img src="../assets/img/pdf.png" alt="Imagen 1">
        <p class="roll-texto">Manual atencion en linea</p>
      </div>
      <div class="roll-cuadro">
        <img src="../assets/img/word.png" alt="Imagen 2">
        <p class="roll-texto">Manual reserva de fichas en linea</p>
      </div>
      <div class="roll-cuadro">
        <img src="../assets/img/covid.png" alt="Imagen 3">
        <p class="roll-texto">encuenta covid 19</p>
      </div>
      <div class="roll-cuadro">
        <img src="../assets/img/pdf.png" alt="Imagen 4">
        <p class="roll-texto">Manual atencion en linea</p>
      </div>
    </div>
  </div>