<header>
  <div class="flex w-[90%] mx-auto">
    <img class="w-7 h-7" src="/assets/logo.png" alt="logo">
    <h1 class="w-[60%] text-center font-bold text-[#000080] text-xl cursor-pointer" > SEGURO SOCIAL UNIVERSITARIO POTOSI</h1>
    <img class="w-7 h-7" src="/assets/image.png" alt="escudo">
  </div>
  <nav>
    <ul class="flex gap-5">
      <li>
        <a class="text-base" href="/">Inicio</a>
      </li>

      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Institucional</div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-100 w-52 border">
           <li><a class="text-base" href="institucional/datos_generales" >Datos Generales</a> </li>
           <li><a class="text-base" href="institucional/directorio">Directorio</a></li>
           <li><a class="text-base" href="institucional/estructura_organica">Estructrura Organica</a></li>
           <li><a class="text-base" href="institucional/situacion_geografica">Situacion Geografica</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Servicios</div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-100 w-52 border">
           <li><a class="text-base" href="servicios/consulta_externa" >Consulta Externa</a> </li>
           <li><a class="text-base" href="servicios/laboratorio_clinico">Laboratorio Clinico</a></li>
           <li><a class="text-base" href="servicios/imagenologia">Imagenologia</a></li>
           <li><a class="text-base" href="servicios/enfermeria">Enfermeria</a></li>
           <li><a class="text-base" href="servicios/farmacia">Farmacia</a></li>
           <li><a class="text-base" href="serviciosfisioterapia">Fisioterapia</a></li>
           <li><a class="text-base" href="servicios/ecografia">Ecografia</a></li>
           <li><a class="text-base" href="servicios/internacion_clinica_quirurgica">Internacion Clinica y Quirurgica</a></li>
           <li><a class="text-base" href="servicios/afiliaciones">Afiliaciones</a></li>
           <li><a class="text-base" href="servicios/fichaje">Ficheje</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Personal de Salud</div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-100 w-52 border">
           <li><a class="text-base" href="personal_de_salud/administrativo" >Administrativo</a> </li>
           <li><a class="text-base" href="personal_de_salud/medico">Medico</a></li>
          </ul>
        </div>
      </li>


      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Contrataciones</div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-100 w-52 border">
           <li><a class="text-base" href="contrataciones/menor" >Menor</a></li>
           <li><a class="text-base" href="contrataciones/anpe" >Anpe</a></li>
           <li><a class="text-base" href="contrataciones/licitacion_publica" >Licitacion Publica</a></li>
           <li><a class="text-base" href="contrataciones/por_exepcion" >Por Excepcion</a></li>
           <li><a class="text-base" href="contrataciones/" >Por Desastres y/o Emergencias</a></li>
           <li><a class="text-base" href="contrataciones/directa" >Directa</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Transparencia</div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 bg-base-100 w-52 border">
           <li><a class="text-base" href="transparencia/acesoria_legal" >Asesorial Legal</a></li>
           <li><a class="text-base" href="transparencia/historial_de_avisos" >Historial de Avisos</a></li>
           <li><a class="text-base" href="transparencia/recursos humanos" >Recursos Humanos</a></li>
           <li><a class="text-base" href="transparencia/auditoria" >Auditoria</a></li>

          </ul>
        </div>
      </li>

          
   </ul>
  </nav>
</header>
<router-outlet></router-outlet>